.scratchContainer {
    float: left;
    margin-left: 8%;
    margin-top: 2%;
}

.scratchContainer #blocklyDiv {
    float: left;
    height: 480px;
    width: 600px;
}

.scratchContainer .text-container, #textGenerator {
    float: left;
    margin-left: 5px;
    height: 480px;
    width: 300px;
}

.save-code {
    background: url("../images/Save.png");
    width: 64px;
    height: 64px;
    position: absolute;
    margin-left: 135px;
    margin-top: 410px;
    cursor: pointer;
}

.play-code {
    background: url("../images/play-button.png");
    width: 64px;
    height: 64px;
    position: absolute;
    margin-left: 235px;
    margin-top: 410px;
    cursor: pointer;
}

.playground {
    background: url("../images/soccer-ball .png");
    height: 64px;
    width: 64px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;

}

.playground-container {
    background-color: #bbbbcc;
    width: 330px;
    height: 485px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}

.main-container {
    width: 100%;
    height: 1300px;
}


/*added by suhas*/
.login-button {
  display: show;
}

.logout-button {
    display: show;
}
